# Database
DB_PORT=port
DB_HOST=hostname
DB_NAME=database
DB_USER=username
DB_PASSWORD=password
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_NAME}

JWT_SECRET_KEY=your-JWT_SECRET_KEY

MONGO_URI=your-MONGO_URI